.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-size: cover;
  background-position: center;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-button-prev, .swiper-button-next {
  background-color: white;
  opacity: 0.75;
  border-radius: 100%;
  width: 48px !important;
  height: 48px !important;

  @media (max-width: 425px) {
    width: 36px !important;
    height: 36px !important;
  }
}

.swiper-button-prev:after, .swiper-button-next:after {
  font-size: 30px !important;
  color: #232F3E;

  @media (max-width: 425px) {
    font-size: 24px !important;
  }
}
